body {
    margin: 0;
}

* { box-sizing: border-box;}

img {
    max-width: 100%;
    object-fit: cover;
}

section.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1440px;
    margin: 1rem auto;
}

section.col {
    /* column styles here if needed*/
}

section.col.full {
    width: 100%;
}

section.col.half {
    width: 49%;
}

section.col.eighty {
    width: 80%;
    margin: 0;
}

section.row:has(> section.col.eighty.left) { 
    justify-content: flex-start;
}

section.row:has(> section.col.eighty.right) { 
    justify-content: flex-end;
}

section.card {
    background-color: gray;
    border: solid 2px black;
    padding: 1rem;
    border-radius: 2rem;
}

section.row img {
    border: solid 2px black;
    border-radius: 2rem;
}

.full-img {
    width: 100%;
    max-height: 600px;
}

header>nav {
    display: flex;
    background-color: #010326;
    padding: 2em;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
}

nav>a {
    background-color: #556573;
    display: inline-block;
    padding: 2rem;
    margin: 0 1em;
    border-radius: 4em;
    align-items: center;
    justify-content: center;
    color: white;
}

body {
    background-color: #739070;
}

h1 {
    text-align: center;
    color: white;
    font-size: xx-large;
    background-color: black;
    border-radius: 1rem;
    padding: 1rem;
    /* position: absolute; */



}

.lvm {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 1600px;
    height: 900px;
    border-radius: 4em;
    margin-top: 100px;
}


.sone {
    border: lightgray 100px;
    border-radius: 3rem;
    border-width: 80px;
    block-size: 350px;
    border-style: solid;
    border-color: lightgray;
    /* position: absolute; */
    right: 15%;
    margin-top: 25px;
    width: 400px;

}

#ione {
    /* position: absolute; */
    width: 400px;
    height: 400px;
    margin-top: -40px;
    border-radius: 1rem;



}

#pone {
    /* position: absolute; */
    right: 13.5%;
    margin-top: 370px
}

.imagetwo {
    border: lightgray 100px;
    border-radius: 3rem;
    border-width: 80px;
    block-size: 350px;
    border-style: solid;
    border-color: lightgray;
    /* position: absolute; */
    right: 55%;
    margin-top: 25px;
    width: 400px;
}

#itwo {
    /* position: absolute; */
    margin-top: -40px;
    width: 400px;
    border-radius: 1rem;
}

#ptwo {
    right: 61%;
    margin-top: 390px;
}

.imagethree {
    border: lightgray 100px;
    border-radius: 3rem;
    border-width: 80px;
    block-size: 350px;
    border-style: solid;
    border-color: lightgray;
    /* position: absolute; */
    right: 55%;
    margin-top: 700px;
    width: 400px;
}

#ithree {
    /* position: absolute; */
    margin-top: -40px;
    width: 400px;
    border-radius: 1rem;

}

#pthree {
    /* position: absolute; */
    margin-top: 370px;
    right: 50px;
}



.imagefour {
    border: lightgray 100px;
    border-radius: 3rem;
    border-width: 80px;
    block-size: 350px;
    border-style: solid;
    border-color: lightgray;
    width: 400px;
    /* position: absolute; */
    right: 15%;
    margin-top: 700px;
}

#ifour {
    /* position: absolute; */
    margin-top: -40px;
    width: 400px;
    border-radius: 1rem;
}


#pfour {
    /* position: absolute; */
    right: 110px;
    margin-top: 370px;

}

h2 {
    text-align: center;
    color: white;
    font-size: xx-large;
    background-color: black;
    border-radius: 1rem;
    padding: 1rem;
}

.kitchen {
    /* position: absolute; */
    align-items: center;
    right: -200px;
    width: 1600px;
    height: 900px;
    border-radius: 4em;
    margin-top: 700px;

}



.seconep2 {
    border: lightgray 100px;
    border-radius: 3rem;
    border-width: 80px;
    block-size: 350px;
    border-style: solid;
    border-color: lightgray;
    width: 400px;
    /* position: absolute; */
    right: 700px;
    margin-top: 1700px;
}


.stove1 {
    /* position: absolute; */
    margin-top: -50px;
    border-radius: 1rem;
    width: 400px;
}

.sectwo2 {
    border: lightgray 100px;
    border-radius: 3rem;
    border-width: 80px;
    block-size: 350px;
    border-style: solid;
    border-color: lightgray;
    width: 400px;
    /* position: absolute; */
    right: -100px;
    margin-top: 1700px;
}


.stove2 {
    /* position: absolute; */
    border-radius: 1rem;
    margin-top: -50px;
    width: 400px;
}


.pst1 {
    /* position: absolute; */
    margin-top: 370px;
}

.secthree {
    border: lightgray 100px;
    border-radius: 3rem;
    border-width: 80px;
    block-size: 350px;
    border-style: solid;
    border-color: lightgray;
    width: 400px;
    /* position: absolute; */
    right: 700px;
    margin-top: 2400px;
}

.stove3 {
    /* position: absolute; */
    margin-top: -50px;
    border-radius: 1rem;
    width: 400px;
}

.secfour {
    border: lightgray 100px;
    border-radius: 3rem;
    border-width: 80px;
    block-size: 350px;
    border-style: solid;
    border-color: lightgray;
    width: 400px;
    position: absolute;
    right: -100px;
    margin-top: 2400px;
}

.stove4 {
    /* position: absolute; */
    margin-top: -50px;
    border-radius: 1rem;
    width: 400px;
}

footer {
    display: flex;
    flex-direction: row;
    background-color:#000000;
    display: flex;
    padding: 5%;
    text-align: center;
    color: white;
    font-size: xx-large;
    margin-bottom: 100px;
}

ul {
    list-style: none;
    color: white;

}

footer {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;

}