body {
   background-color: rgb(143, 143, 196);
}

nav {
    background-color: white;
    height: 100px;
}

section {
    background-color: rgb(224, 224, 235);
    text-align: center;
    padding: 0%;

}
