body {
    margin: 0;
    background-color: #1A4024; 
}

* { box-sizing: border-box;}

img {
    max-width: 100%;
    object-fit: cover;
}

section.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1440px;
    margin: 1rem auto;
}

section.col {
    /* column styles here if needed*/
}

section.col.full {
    width: 100%;
}

section.col.half {
    width: 49%;
}

section.col.eighty {
    width: 80%;
    margin: 0;
}

section.row:has(> section.col.eighty.left) { 
    justify-content: flex-start;
}

section.row:has(> section.col.eighty.right) { 
    justify-content: flex-end;
}

section.card {
    background-color: #A5A6A4;
    border: solid 1px black;
    padding: 1rem;
    border-radius: 2rem;
}

section.row img {
    border: solid 2px black;
    border-radius: 2rem;
}

.full-img {
    width: 100%;
    max-height: 600px;
}



header>nav {
    display: flex;
    background-color: #96A2BA;
    padding: 2em;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
}


nav>a {
    background-color: #010326;
    display: inline-block;
    padding: 2rem;
    margin: 0 1em;
    border-radius: 4em;
    align-items: center;
    justify-content: center;
    color: white;
}

footer {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    background-color: #96A2BA;
    color: black;

}

ul {
    list-style: none;
}



h1 {
    text-align: center;
    color: white;
    font-size: xx-large;
    background-color: black;
    border-radius: 1rem;
    padding: 1rem;
}

h2 {
    text-align: center;
    color: white;
    font-size: xx-large;
    background-color: black;
    border-radius: 1rem;
    padding: 1rem;
}

h3 {
    text-align: center;
    color: white;
    font-size: xx-large;
    background-color: black;
    border-radius: 1rem;
    padding: 1rem;
}

