body {
    background-color: #020659;
    text-align: center;
}

header>nav {
    display: flex;
    background-color: #96A2BA;
    padding: 1em;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

nav>a {
    background-color: #010326;
    display: inline-block;
    padding: 1rem;
    margin: 0 1em;
    border-radius: 4em;
    align-items: center;
    justify-content: center;
    color: white;

}

.image1 {
    padding: 2rem;
    width: 1200px;
    height: 750px;
    border-radius: 3rem;
}

.p1 {
    color: white;
    font-size: 30px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    background-color:#96A2BA;
    display: flex;
    padding: 5%;
    text-align: center;


}

ul {
    list-style: none;
}


 



